 /* navbar css  */

 *{
    background: #EEEDE7;
 }

 .prim-font{
color: #503217;
}
 .nav-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 80%;
     margin: auto;

 }

 .nav-first {
     display: flex;
     gap: 11px;
     align-items: center;
 }

 .nav-first img {
     height: 51px;
     width: 51px;
 }

 .nav-sec {
     display: flex;
     gap: 30px;
 }

 .nav-sec a {
     text-decoration: none;
     color: black;
     font-style: normal;
     text-transform: capitalize;
 }

 /* main banner  */
 .main-container {
     background-color: #E8E6DE;

 }

 .main-contant {
     width: 80%;
     margin: 10px auto;
     display: flex;
     align-items: center ;
     justify-content: space-between;
      background-color: #E8E6DE;

 }

 .main-btn {
     display: flex;
     align-items: center;
     background-color: #503217;
     color: white;
     padding: 10px 20px;
     border-radius: 15px;
     border: none;

 }

 /* shop  */
 .shop-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:60px auto;
 }
.product-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
 .product-card-container{
    display: flex;
     align-items: center;
     gap: 20px;
    background: white;
     width: fit-content;
     border-radius: 15px;
     padding: 25px 20px;
     width: 450px;
 }
 .p-card{
    padding: 10px 15px;
    border: none;
    border-radius:15px ;
    background:#D3744A;
    color: white;
 }